<form class="row" name="checkout" method="POST" action="/charge">
    <script>
        var products = JSON.parse('{{{stringify products}}}');
        var total = JSON.parse('{{{stringify total}}}');
        var STRIPE_PK = JSON.parse('{{{stringify STRIPE_PK}}}');
    </script>
    <div class="columns large-12">
        <h1>Cart</h1>
    </div>

    <div class="columns large-12">
        <table class="stack">

            <tbody>
                {{#each products}}
                    <tr>
                        <td>{{og.name}}</td>
                        <td>{{quantity}}</td>
                        <td class="text-right">{{prettyTotal}}</td>
                        <td class="text-right"><a href="#" data-remove="{{@index}}">remove</a></td>
                    </tr>
                {{/each}}
                <tr class="text-left">
                    <th>Total:</th>
                    <th></th>
                    <th class="text-right" data-total>{{total}}</th>
                </tr>
            </tbody>
        </table>
    </div>
    

    
    <header class="columns small-12">
        <h2>Shipping address</h2>
    </header>
    <fieldset class="columns small-12">
        <label class="" for="firstName">First name <span class="asterix">*</span> <span class="skip"></span></label> <input required class="text small-12" id="firstName" name="firstName" type="text" value="">
    </fieldset>
    <fieldset class="columns small-12">
        <label class="" for="lastName">Last name <span class="asterix">*</span> <span class="skip"></span></label> <input required class="text small-12" id="lastName" name="lastName" type="text" value="">
    </fieldset>
    <fieldset class="columns small-12">
        <label class="" for="register.email">Email address <span class="asterix">*</span> <span class="skip"></span></label> <input required class="text small-12" id="register.email" name="email" type="email" value="">
    </fieldset>
    <fieldset class="columns small-12">
        <label class="" for="line1">Address line 1 <span class="asterix">*</span> <span class="skip"></span></label> <input required class="text small-12" id="line1" name="line1" placeholder="Street address" type="text" value="">
    </fieldset>
    <fieldset class="columns small-12">
        <label class="" for="line2">Address line 2 <span class="skip"></span></label> <input class="text small-12" id="line2" name="line2" placeholder="Apartment, suite, unit, building, floor, etc." type="text" value="">
    </fieldset>
    <fieldset class="columns small-12">
        <label class="" for="townCity">Town/City <span class="asterix">*</span> <span class="skip"></span></label> <input required class="text small-12" id="townCity" name="townCity" type="text" value="">
    </fieldset>
    <fieldset class="columns small-12">
        <label class="" for="Province">State <span class="asterix">*</span> <span class="skip"></span></label> <select required id="Province" name="regionCode">
            <option value=""> Please select... </option> <option value="AL"> Alabama </option> <option value="AK"> Alaska </option> <option value="AZ"> Arizona </option> <option value="AR"> Arkansas </option> <option value="CA"> California </option> <option value="CO"> Colorado </option> <option value="CT"> Connecticut </option> <option value="DE"> Delaware </option> <option value="DC"> District of Columbia </option> <option value="FL"> Florida </option> <option value="GA"> Georgia </option> <option value="HI"> Hawaii </option> <option value="ID"> Idaho </option> <option value="IL"> Illinois </option> <option value="IN"> Indiana </option> <option value="IA"> Iowa </option> <option value="KS"> Kansas </option> <option value="KY"> Kentucky </option> <option value="LA"> Louisiana </option> <option value="ME"> Maine </option> <option value="MD"> Maryland </option> <option value="MA"> Massachusetts </option> <option value="MI"> Michigan </option> <option value="MN"> Minnesota </option> <option value="MS"> Mississippi </option> <option value="MO"> Missouri </option> <option value="MT"> Montana </option> <option value="NE"> Nebraska </option> <option value="NV"> Nevada </option> <option value="NH"> New Hampshire </option> <option value="NJ"> New Jersey </option> <option value="NM"> New Mexico </option> <option value="NY"> New York </option> <option value="NC"> North Carolina </option> <option value="ND"> North Dakota </option> <option value="OH"> Ohio </option> <option value="OK"> Oklahoma </option> <option value="OR"> Oregon </option> <option value="PA"> Pennsylvania </option> <option value="RI"> Rhode Island </option> <option value="SC"> South Carolina </option> <option value="SD"> South Dakota </option> <option value="TN"> Tennessee </option> <option value="TX"> Texas </option> <option value="UT"> Utah </option> <option value="VT"> Vermont </option> <option value="VA"> Virginia </option> <option value="WA"> Washington </option> <option value="WV"> West Virginia </option> <option value="WI"> Wisconsin </option> <option value="WY"> Wyoming </option>
        </select>
    </fieldset><!-- Wraps input box and allows postal code to be removed with cmsSite flag -->
    <fieldset class="columns small-12">
        <label class="" for="postcode">Zip code <span class="asterix">*</span> <span class="skip"></span></label> <input required class="text small-12" id="postcode" name="postcode" type="number" value="">
    </fieldset>
    <fieldset class="columns small-12">
        <label class="" for="country">Country <span class=""></span> <span class="skip"></span></label> <span class="textarea"><input required disabled="disabled" type="text" value="United States"></span>
    </fieldset>

    <script
        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="{{STRIPE_PK}}"
        data-amount="{{totalStripe}}"
        data-name="Forget Me Not Candles"
        data-description=""
        data-image="https://i.imgur.com/CwGQc22.jpg"
        data-locale="auto">
    </script>

    <div class="columns large-12">
        <button class="button float-right secondary checkout-button">Check Out</button>
    </div>

</form>