<div class="row">
    <div class="columns large-12">
        <h1>Cart</h1>
    </div>

    <div class="columns large-12 text-center">
        <h2>Your cart is empty</h2>
        <p>Go find some <a href="/">fantastic hand made products</a></p>
    </div>

</div>