<div class="row">
    <div class="columns large-12">
        <h1>Thank you!</h1>
    </div>

    <div class="columns large-12 text-center">
        <h2>Your order has been placed.</h2>
        <p>You should expect your order no later than {{date}}</p>
        <hr>
        <h3>Your order will be shipped to:</h3>
        <div class="row">
            <div class="columns large-8 large-centered">
                <blockquote class="text-left">
                    {{customerInfo.line1}} {{customerInfo.line2}} <br>
                    {{customerInfo.townCity}}, {{customerInfo.regionCode}} {{customerInfo.postcode}}
                </blockquote>
            </div>
        </div>
        <p>If any of this info is incorrect please call <a href="tel:+18505299296">850-529-9296</a> and we will correct it for you.</p>
    </div>

</div>