<footer class="row-full-width row">
    <div class="columns medium-6 large-7">
        <div class="row">
            <div class="columns medium-9 large-6 medium-centered">
                <ul class="inline-menu small-up-2">
                    <li class="column"><a href="#" class="button hollow">Contact</a></li>
                    <li class="column"><a href="#" class="button hollow">About</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="columns medium-6 large-5 social">
        <div class="row">
            <div class="columns medium-12 large-10">
                <ul class="inline-menu padless small-up-4">
                    <li class="column"><a href="#"><img src="http://placehold.it/50x50" alt=""></a></li>
                    <li class="column"><a href="#"><img src="http://placehold.it/50x50" alt=""></a></li>
                    <li class="column"><a href="#"><img src="http://placehold.it/50x50" alt=""></a></li>
                    <li class="column"><a href="#"><img src="http://placehold.it/50x50" alt=""></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
