
<header class="row-full-width row">
    <div id="logo" class="small-2 columns small-centered medium-uncentered text-center">
        <a href="/">
            <img src="/img/flower.png" alt="" style="width:50px;">
        </a>
    </div>
    <nav class="medium-7 large-6 columns navigation">
        <ul class="inline-menu small-up-1 medium-up-2 large-up-4 dropdown menu" data-dropdown-menu>
            <li class="column"><a href="#" style="padding-bottom:1px;"></a></li>
            <li class="column"><a href="#" style="padding-bottom:1px;"></a></li>
            <li class="column">
                <a href="/" class="button hollow">Products</a>
                <ul class="menu show-for-medium">
                    <li><a href="/">All</a></li>
                    {{#each allProducts}}
                        <li><a href="/p/{{slug}}" class="text-left">{{name}}</a></li>
                    {{/each}}
                </ul>
            </li>
            <li class="column cart-list-item"><a href="/cart" class="button hollow">Cart</a><span class="hide badge secondary"></span></li>
        </ul>
    </nav>
</header>