<script>var order = JSON.parse('{{{stringify order}}}');</script>

<div class="row">
    <div class="large-12 columns">
        <a href="/admin/orders?password={{pass}}">< Back</a>
    </div>
</div>

<div class="row">
    <div class="small-6 columns">
        You have {{order.shipBy}} days left to ship.
    </div>
    <div class="small-6 columns text-right">
        Ordered on {{order.prettyDate}}
    </div>
</div>

<div class="row">
    <div class="medium-6 columns">
        <h2>{{order.customerInfo.firstName}} {{order.customerInfo.lastName}}</h2>
    </div>
    <div class="medium-6 columns">
        <code class="hide-for-medium" style="margin-top:15px;">{{order._id}}</code>
        <code class="float-right show-for-medium" style="margin-top:15px;">{{order._id}}</code>
    </div>
</div>
<div class="row">
    <div class="columns medium-6">
        <blockquote>
            {{order.customerInfo.line1}} {{order.customerInfo.line2}} <br>
            {{order.customerInfo.townCity}}, {{order.customerInfo.regionCode}} {{order.customerInfo.postalcode}}
        </blockquote>
    </div>
    <div class="columns medium-6">
        <code style="display: block;">Email: {{order.customerInfo.email}}</code>
        <code style="display: block;">StripeEmail: {{order.customerInfo.stripeEmail}}</code>
    </div>
</div>


<form name="status-form" method="POST">
    <div class="row">
        <div class="small-8 columns">
                <select name="status">
                    {{#select order.status}}
                    <option value="New">New</option>
                    <option value="Ready">Ready To Ship</option>
                    <option value="Shipped">Shipped</option>
                    <option value="Closed">Closed</option>
                    {{/select}}
                </select>
        </div>
        <div class="columns small-4">
            <button class="button expanded">Change</button>
        </div>
    </div>
</form>


<div class="row">
    <div class="columns large-12">
        <table style="margin-top:25px;">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th class="text-right">Size</th>
                </tr>
            </thead>
            <tbody>
                {{#each order.products}}
                    <tr>
                        <td>
                            {{slug}}
                        </td>
                        <td>
                            {{stringify quantity}}
                        </td>
                        <td class="text-right">
                            {{size.size}}
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
        
    </div>
</div>
