<script>var orders = JSON.parse('{{{stringify orders}}}');</script>
<div class="row">
    <div class="columns large-12">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Due</th>
                    <th>Email</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {{#each orders}}
                    <tr>
                        <td><a href="/admin/orders/{{_id}}?password={{../pass}}">{{customerInfo.firstName}} {{customerInfo.lastName}}</a></td>
                        <td>{{prettyDate}}</td>
                        <td>In {{shipBy}} Days</td>
                        <td>{{customerInfo.email}}</td>
                        <td>{{status}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>