
mobWidth = ratio-w * collection-multiplier
mobHeight = ratio-h * collection-multiplier
mobImageHeight = 155px

ul li.card
    background white;
    transition box-shadow 0.15s
    width mobWidth
    height mobHeight
    overflow hidden
    &:hover
        @extend .layer-1:hover
    img
        width mobWidth
        height mobImageHeight
    .info
        text-align left
        padding 10px
        margin-right 0
        margin-left 0
        height mobHeight - mobImageHeight
        h5 
            font-size 0.8em
        .sub
            font-size 0.5em
            color darkgrey-color
        .columns, column
            padding-left 0
            padding-right 0
        .price
            text-align right
            color success-color

@media screen and (min-width: 40em)
    multiplier = 1.5px
    width = mobWidth * multiplier
    height = width * (mobHeight/mobWidth)
    imageHeight = width * (mobImageHeight/mobWidth)
    
    ul li.card
        width width
        height height
        margin-left 5px;
        margin-right 5px
        img
            width width
            height imageHeight
        .info
            height imageHeight - width
            h5 
                font-size 0.8em * multiplier
                margin-bottom 0.5rem * multiplier
            .sub
                font-size 0.5em * multiplier