.container
    background lightgrey-color

header
    padding 10px 0
    background white
    padding-top 25px
    #logo
        margin-top -10px
@media screen and (max-width: 40em)
    nav.navigation
        ul li
            margin-top 10px
        
         
ul.inline-menu
    list-style none
    padding 0
    margin 0
    &.padless
        & > li > a
            padding 0
    & > li > a
        padding 10px
        text-align center
        width 100%
        display block
        transition background 0.2s

ul.auto-static-wrap
    margin 10px auto
    text-align center
    li
        display inline-block
        margin 10px

.nobullets
    list-style none
    padding 0
    margin 0

footer
    min-height 50px
    background darkgrey-color
    padding 10px
    color white
    .social a img
        max-height 40px

.row-full-width
    width: 100%
    margin-left auto
    margin-right auto
    max-width initial
    .row
        margin-left auto
        margin-right auto
    > .columns, column
        padding-left 0
        padding-right 0

.badge.secondary
    color white-color
    
.cart-list-item
    position relative
    .badge
        position absolute
        top -9px
        right 4px

.button.secondary
    color white-color
    &:hover, &:focus
        color white-color

.bounce
    animation-duration 0.7s
    animation-iteration-count 1
    animation-timing-function ease-out
    animation-fill-mode forwards

@keyframes bounce
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
    40% {transform: translateY(-15px);} 
    60% {transform: translateY(-7px);} 

.bounce
    animation-name bounce

.asterix
    color alert-color
    position relative
    top 2px
    
.stripe-button-el
    display none !important