<div class="row">
    <script>var product = JSON.parse('{{{stringify product}}}');</script>
    <div class="medium-5 columns">
        <img src="{{product.img}}" alt="" class="main">
    </div>
    <div class="medium-7 columns">
        <div class="row">
            <div class="medium-12 columns">
                <h2 class="mb5">{{product.name}}</h2>
            </div>
        </div>
        <div class="row">
            <div class="medium-6 columns">
                <!-- <p class="label round success mb20"> <i class="fa fa-check-circle-o"></i> in stock</p> -->
                <div>Price: ${{product.sizes.0.price}}</div>
                <h6>About Style: <small>{{product.desc}}</small></h6>
            </div>
            <div class="medium-6 columns">
                <label for="quantity">Quantity</label>
                <select name="quantity" id="quantity">
                    {{quantity 50}}
                </select>
                <label for="size"></label>
                <select name="size" id="size">
                    {{#each product.sizes}}
                        <option value="{{@index}}">{{size}} - ${{price}}</option>
                    {{/each}}
                </select>
                <button class="button small expanded add-to-cart">Add To Cart</button>
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin:30px auto;">
        <div class="medium-5 columns">
            <ul class="small-up-4 nobullets">
                <li class="columns">
                    <img src="http://placehold.it/64x64&text=pintrest" alt="">
                </li>
                <li class="columns">
                    <a href="https://www.facebook.com/forgetmenotcandlesfl" target="_blank">
                        <img src="http://placehold.it/64x64&text=facebook" alt="">
                    </a>
                </li>
                <li class="columns">
                    <a href="https://twitter.com/fgmnc">
                        <img src="http://placehold.it/64x64&text=twitter" alt="">
                    </a>
                </li>
                <!-- <li class="columns">
                    <a href="mailto:">
                        <img src="http://placehold.it/64x64&text=email" alt="">
                    </a>
                </li> -->
            </ul>
        </div>
</div>