<div class="row">
    <ul class="auto-static-wrap nobullets">
        <script>var product = JSON.parse('{{{stringify products}}}');</script>
        {{#each products}}
        <li class="card">
            <a href="/p/{{slug}}">
                <img src="{{img}}" alt="" class="main">
                <div class="info row">
                    <div class="columns small-10 text">
                        <h5>{{name}}</h5>
                    </div>
                    <div class="columns small-2">
                        <h5 class="price">
                            ${{priceStart}}
                        </h5>
                    </div>
                    <div class="small-12 columns">
                        <p class="sub">
                            {{lim desc}}
                        </p>
                    </div>
                </div>
            </a>
        </li>
        {{/each}}

    </ul>
</div>