<!DOCTYPE html>  
<html>  
<head>  
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Your Title</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link rel="stylesheet" href="/libs/normalize-css/normalize.css">
    <link rel="stylesheet" href="/css/app.min.css">
    
</head>  
<body>

    <div class="container">

        {{> header}}

        {{! Every view gets inserted here }}
        {{{content}}}

        {{> footer}}
    </div>
    
    <script>var allProducts = JSON.parse('{{{stringify allProducts}}}');</script>
    <script src="https://checkout.stripe.com/checkout.js"></script>
    <script src="/libs/js-cookie/src/js.cookie.js"></script>
    <script src="/js/app.min.js"></script>
</body>  
</html>  